In [1]:
print('Hello World')

Hello World

In [2]:
import numpy as np
import matplotlib.pyplot as plt
np.random.seed(999)
N = 50
x = np.random.rand(N)
y = np.random.rand(N)
colors = np.random.rand(N)
area = (30 * np.random.rand(N))**2
plt.scatter(x, y, s=area, c=colors, alpha=0.5)
plt.show()

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/
plotly/datasets/master/school_earnings.csv")
df

SyntaxError: EOL while scanning string literal (<ipython-input-3-bef53a714ee1>, line 2)

In [4]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/
plotly/datasets/master/school_earnings.csv")

SyntaxError: EOL while scanning string literal (<ipython-input-4-beaff8958a1b>, line 2)

In [5]:
pd.read_csv("https://raw.githubusercontent.com/
plotly/datasets/master/school_earnings.csv

SyntaxError: EOL while scanning string literal (<ipython-input-5-e8937ad4232e>, line 1)

In [6]:
https://raw.githubusercontent.com/
plotly/datasets/master/school_earnings.csv

SyntaxError: invalid syntax (<ipython-input-6-0ed14bfb23ec>, line 1)

In [7]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/school_earnings.csv")
df

        School  Women  Men  Gap
0          MIT     94  152   58
1     Stanford     96  151   55
2      Harvard    112  165   53
3       U.Penn     92  141   49
4    Princeton     90  137   47
5      Chicago     78  118   40
6   Georgetown     94  131   37
7        Tufts     76  112   36
8         Yale     79  114   35
9     Columbia     86  119   33
10        Duke     93  124   31
11   Dartmouth     84  114   30
12         NYU     67   94   27
13  Notre Dame     73  100   27
14     Cornell     80  107   27
15    Michigan     62   84   22
16       Brown     72   92   20
17    Berkeley     71   88   17
18       Emory     68   82   14
19        UCLA     64   78   14
20       SoCal     72   81    9